<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type=""*/-->
    <title th:text="${album.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<header>
    <h1 th:text="${album.title}"></h1>
</header>
<main>
    <h2 th:text="${album.artist}"></h2>
    <img th:src="${album.imageUrl}">
    <h2>Songs:</h2>
    <ul>
        <li th:each="song : ${songs}">
            <span th:text="${song.title} + ': Track Number-' + ${song.trackNumber} + ' Length-' + ${song.length} + ' seconds'"></span>
        </li>
    </ul>

    <h3>Add a Song!</h3>
    <form th:action="@{'/albums/' + ${album.id}}" method="POST">
        <label>Title <input name="title"></label>
        <label>Length <input name="length"></label>
        <label>Track Number <input name="trackNumber"></label>
        <input type="submit">
    </form>
</main>
</body>
</html>